body {
  width: 100%;
  height: 100%;
  margin: 0;
  display: block;
}

img {
    border-radius: 25%;
    overflow: hidden;
    width: 15px;
    height: 150px;
    float: right;
}

img#headshot {
    display: block;
    min-width: 15%;
    min-height: 20%;
}

.heading {
  padding: 10px;
  color: rgb(113, 181, 236);
  text-decoration: underline;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: left;
  width: 1000px;
}

p {
    text-align: left;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.subheading {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: left;
    width: 1000px;
}